<ng-container *ngIf="signin; else singup">
  <div class="container sign-container">
    <div class="loader" *ngIf="loaderService.isLoading | async">
      <mat-spinner color="warn" mode="indeterminate"></mat-spinner>
    </div>
    <form class="sign__form" [formGroup]="form" (ngSubmit)="loginUser()">
      <h2 class="sign__title">{{ 'header.signin' | translate }}</h2>
      <div class="sign__inputs" *ngFor="let input of inputs.slice(1, 3)">
        <app-input class="sign__input" [pathTitle]="input.path" [nameTitle]="input.title" [value]="form.controls">
          <input
            class="input"
            [type]="input.title === 'password' ? input.title : 'text'"
            [formControlName]="input.title"
          >
        </app-input>
        <ng-container *ngTemplateOutlet="errors; context:getInput(form, input.title)"></ng-container>
      </div>
      <button
        class="sign__button button"
        type="submit"
        [disabled]="!form.valid"
      >
        {{ 'header.signin' | translate }}
      </button>
      <div class="sign__footer-info">
        <p class="footer-info__text">
          {{ 'login.no-have-account' | translate }}
        </p>
        <a class="footer-info__link" routerLink="/signup">{{ 'header.signup' | translate }}!</a>
      </div>
    </form>
    <app-modal *ngIf="modalService.isVisible"></app-modal>
  </div>
</ng-container>
<ng-template #singup>
  <div class="container sign-container">
    <div class="loader" *ngIf="loaderService.isLoading | async">
      <mat-spinner color="warn" mode="indeterminate"></mat-spinner>
    </div>
    <form class="sign__form" [formGroup]="form" (ngSubmit)="createUser()">
      <h2 class="sign__title">{{ 'header.signup' | translate }}</h2>
      <div class="sign__inputs" *ngFor="let input of inputs">
        <app-input class="sign__input" [pathTitle]="input.path" [nameTitle]="input.title" [value]="form.controls">
          <input
            class="input"
            [type]="input.title === 'password' ? input.title : 'text'"
            [formControlName]="input.title"
          >
        </app-input>
        <ng-container *ngTemplateOutlet="errors; context:getInput(form, input.title)"></ng-container>
      </div>
      <button type="submit" class="sign__button button" [disabled]="!form.valid">{{ 'header.signup' | translate }}</button>
      <div class="sign__footer-info">
        <p class="footer-info__text">
          {{ 'login.have-account' | translate }}
        </p>
        <a class="footer-info__link" routerLink="/signin">{{ 'header.signin' | translate }}!</a>
      </div>
    </form>
  </div>
  <app-modal *ngIf="modalService.isVisible"></app-modal>
</ng-template>

<ng-template
  #errors
  let-errors="errors"
  let-touched="touched"
  >
 <app-errors [errors]="errors" [touched]="touched"></app-errors>
</ng-template>