@import 'variables';

.header {
  height: 5rem;
  background-color: $header-bg;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

  }

  &__title {
    margin-left: 0.2rem;
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__svg {
    fill: $white;
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 1rem;
    @media (max-width: 700px) {
      display: none;
    }
  }

  &__menu-burger {
    cursor: pointer;
    display: none;
    @media (max-width: 700px) {
      display: flex;
    }
  }

  &__menu-box {
    position: absolute;
    z-index: 30;
    height: calc(100% - 5rem);
    width: 100%;
    background-color: rgba(43, 30, 69, 0.907843137);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 1rem;
    gap: 1rem;
    transition: 0.5s;
    transform: translateX(-100%);
    top: 5rem;
    left: 0;
  }

  &__logo {
    position: relative;
    width: 8rem;
    height: 3rem;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
      background-color: $link-hover;
      &:hover .hover-name {
        opacity: 1;
        animation: 0.3s nameAnim linear;
      }
    }
  }

  &__logo-box {
    position: relative;
    width: 8rem;
    height: 3rem;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    border-radius: 0.3rem;
    cursor: pointer;
    &:hover {
      background-color: $link-hover;
    }
  }

  &__boards {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    height: 3rem;
    width: 4rem;
    cursor: pointer;
    &:hover {
      background-color: $link-hover;
      &:hover .hover-name {
        opacity: 1;
        animation: 0.3s nameAnim linear;
      }
    }
  }

  &__boards-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    height: 3rem;
    width: 4rem;
    cursor: pointer;
    border-radius: 0.3rem;
    &:hover {
      background-color: $link-hover;
    }
  }

  &__login {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__logout {
    background-color: $sign-error;
    &:hover {
      background-color: inherit;
    }
  }

  &__user {
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
  }

  &__profile-icon {
    object-fit: contain;
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
  }

  &__name {
    font-size: 1.2rem;
    font-weight: 400;
  }
}

.log-btn {
  font-weight: 400;
  font-size: 1.1rem;
  border-radius: 0.2rem;
}

.search {
  position: relative;
  width: 13rem;
  display: flex;
  justify-content: center;

  &__input {
    color: white;
    background-color: $footer-bg;
    border-radius: 0.3rem;
    padding: 0 0.5rem;
    width: 10rem;
    height: 2rem;
    filter: drop-shadow(0px 0px 2px rgb(86, 22, 98));
    &::placeholder {
      color: rgb(215, 215, 215);
    }
  }

  &__content {
    position: absolute;
    z-index: 50;
    bottom: -1rem;
    transform: translateY(100%);
    width: 100%;
    min-height: 10rem;
    max-height: 15rem;
    background-color: #65458eab;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
    padding: 0.5rem;
    overflow: auto;

    &::-webkit-scrollbar-thumb {
      background-color: rgb(36, 1, 78);
    }
    &::-webkit-scrollbar-button {
      width: 0;
      height: 0;
    }
    &::-webkit-scrollbar {
      width: 0.1rem;
      background-color: rgba(76, 28, 158, 0.484);
    }
  }

  &__content-title {
    font-size: 1.1rem;
    text-align: center;
  }

  &__tasks {
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
  }

  &__task-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: 0.3s;
    padding: 0.2rem 0.5rem;
    border-radius: 0.2rem;
    &:hover {
      background-color: $footer-bg;
    }
  }
}

.task-name {
  overflow-wrap: anywhere;
  width: 100%;
  margin-left: 0.5rem;
  text-align: center;
}

.hover-name {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  bottom: -2.3rem;
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: 300;
  padding: 0.3rem;
  opacity: 0;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgb(176 130 255 / 50%);
}

@keyframes nameAnim {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translate(0);
    opacity: 1;
  }
}