@import 'variables';

.creater {
  position: relative;
  width: 20rem;
  height: 20rem;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(44, 20, 82, 1) ), url('../../../../assets/profile-img.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 0;

  @media (max-width: 400px) {
    width: 15rem;
    height: 25rem;
  }

  &__name {
    font-size: 2rem;
    @media (max-width: 400px) {
      font-size: 1.5rem;
    }
  }

  &__about {
    text-align: justify;
    width: 80%;
  }
}
