@import 'variables';

section {
  padding: 5rem 0;
}

.main {
  &__hero {
    min-height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, $gradient-1, $gradient-2);
    
    @media (max-width: 1024px) {
      background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../../../../assets/project-management-hero.png');
      background-size: cover;
    }
  }

  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    background: linear-gradient(0deg, $header-bg, $gradient-1);
    @media (max-width: 800px) {
      height: 15rem;
    }
  }
  
  &__info {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 25rem;
    background: linear-gradient(180deg, $header-bg, $gradient-2);
  }

  &__course {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 25rem;
    padding: 0;
  }

  &__creater {
    background: linear-gradient(360deg, black, transparent);
  }
}

._active {
  transform: scale(100%) translate(0, 0);
  opacity: 1;
  animation: textHoist 0.7s ease-in backwards;
}

@keyframes textHoist {
  from {
    transform: scale(50%) translate(0%, 80%);
    opacity: 0;
  }
  to {
    transform: scale(100%) translate(0, 0);
    opacity: 1;
  }
}