@import 'variables';

.overview {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.404);
  z-index: 10;
}

.modal {
  position: absolute;
  z-index: 15;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 20rem;
  padding: 1rem;
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-radius: 1rem;
  background-color: $header-bg;

  &__title {
    font-size: 2rem;
  }

  &__input {
    position: relative;
  }

  &__buttons {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
  }
}

.buttons {
  &__submit {
    width: 40%;
    background-color: $green;
  }

  &__cancel {
    width: 40%;
    background-color: $sign-error;
  }
}

