@import 'variables';

.sign-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 9.2rem);
}

.profile {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  min-width: 10rem;
  width: 80%;
  max-width: 40rem;
  height: 90%;
  background-color: $header-bg;
  border-radius: 1.5rem;
  overflow: hidden;
  &::-webkit-scrollbar-thumb {
    background-color: rgb(36, 1, 78);
    border-radius: 0.5rem;
  }
  &::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }
  &::-webkit-scrollbar {
    width: 0.3rem;
    background-color: rgba(76, 28, 158, 0.484);
  }

  @media (max-width: 600px) {
    overflow: auto;
  }

  &__bg {
    object-fit: cover;
    height: 35%;
    width: 100%;
    box-shadow: 3px 3px 10px $info-bg;
  }

  &__image {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    box-shadow: 6px 6px 6px $info-bg;
    @media (max-width: 440px) {
      top: 20%;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    gap: 1rem;
    margin-bottom: 2rem;
  }
}

.info__item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  @media (max-width: 600px) {
    justify-content: center;
    flex-wrap: wrap;
  }
}

.item {
  &__name {
    font-size: 1.2rem;
    font-weight: 400;
    width: 5rem;
    @media (max-width: 600px) {
      text-align: center;
    }
  }

  &__name-value {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 400;
    background-color: rgb(58 61 142 / 53%);
    padding: 0.5rem;
    border-radius: 0.2rem;
    overflow-wrap: anywhere;
    text-align: center;
    @media (max-width: 600px) {
      margin: 0 20%;
    }
    @media (max-width: 440px) {
      margin: 0;
    }
  }

  &__button {
    border-radius: 0.2rem;
    background-color: $sign-error;
  }
}

.login {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.5rem;
  background-color: $gradient-2;
  border-radius: 1rem 0 1rem 0;
}

input[type="file"] {
  display: none;
}

.file {
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 6px 12px;
  cursor: pointer;
}

.inputs {
  position: relative;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  width: 70%;
  position: absolute;
  top: 50%;
}

.change {

  &__buttons {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
  }

  &__confirm {
    height: 2.5rem;
    font-weight: 400;
    width: 45%;
    background-color: $green;
    &:hover {
      background-color: $header-bg;
    }
  }

  &__back {
    height: 2.5rem;
    font-weight: 400;
    width: 45%;
    background-color: $sign-error;
    &:hover {
      background-color: $header-bg;
    }
  }
}

.remove {
  background-color: $sign-error;
  font-size: 1.1rem;
  width: 60%;
  height: 2rem;
  @media (max-width: 440px) {
    width: auto;
  }
}