$white: #fff;
$black: #000;
$white-light: rgba(255, 255, 255, 0.526);
$bg: rgb(65, 40, 120);
$header-bg: rgb(44, 20, 82);
$footer-bg: rgb(39, 26, 61);
$button-bg: rgb(0, 98, 255);
$disabled: rgb(117, 117, 117);
$disabled-2: rgb(132 131 175 / 78%);
$gradient-1: rgb(90, 23, 103);
$gradient-2: rgb(54, 58, 148);
$link-hover: rgb(71, 43, 117);
$info-bg: rgb(43, 2, 70);
$angular: rgb(79, 5, 5);
$green: green;
$sign-error: rgb(230, 26, 26);
$delete-btn: #b60505;
$modal-bg: rgb(29 22 45);
$loader-bg: rgba(22, 27, 64, 0.407);
$boards-bg: rgb(39 20 71 / 50%);
$add-task: rgb(113 69 188 / 51%);
$column-bg: rgb(70 45 126 / 62%);
$task-bg: rgb(86 64 135 / 69%);