<div class="container columns">
  <div class="columns__container">
    <div class="columns__head">
      <button class="back">
        <svg fill="white" xmlns="http://www.w3.org/2000/svg" height="24" width="24">
          <path d="m14 18-6-6 6-6 1.4 1.4-4.6 4.6 4.6 4.6Z" />
        </svg>
      </button>
      <div class="columns__title">
        Board: <span class="columns__id">id</span>
      </div>
    </div>
    <div class="columns__content">
      <div class="columns__item">
        <div class="columns__name">123</div>
        <div class="tasks">
          <div class="tasks__item">

          </div>
        </div>
        <div class="columns__setting">
          <button class="add-item">Add Task</button>
          <button class="button delete-item">
            <svg class="delete-item" xmlns="http://www.w3.org/2000/svg" height="24" width="24">
              <path
                d="M7 21q-.825 0-1.412-.587Q5 19.825 5 19V6H4V4h5V3h6v1h5v2h-1v13q0 .825-.587 1.413Q17.825 21 17 21ZM17 6H7v13h10ZM9 17h2V8H9Zm4 0h2V8h-2ZM7 6v13Z" />
            </svg>
          </button>
        </div>
      </div>
      <div class="columns__item">
        <div class="columns__name">123</div>
        <div class="tasks">
          <div class="tasks__item">
            
          </div>
        </div>
        <div class="columns__setting">
          <button class="add-item">Add Task</button>
          <button class="button delete-item">
            <svg class="delete-item" xmlns="http://www.w3.org/2000/svg" height="24" width="24">
              <path
                d="M7 21q-.825 0-1.412-.587Q5 19.825 5 19V6H4V4h5V3h6v1h5v2h-1v13q0 .825-.587 1.413Q17.825 21 17 21ZM17 6H7v13h10ZM9 17h2V8H9Zm4 0h2V8h-2ZM7 6v13Z" />
            </svg>
          </button>
        </div>
      </div>
      <div class="columns__item">
        <div class="columns__name">123</div>
        <div class="tasks">
          <div class="tasks__item">
            
          </div>
        </div>
        <div class="columns__setting">
          <button class="add-item">Add Task</button>
          <button class="button delete-item">
            <svg class="delete-item" xmlns="http://www.w3.org/2000/svg" height="24" width="24">
              <path
                d="M7 21q-.825 0-1.412-.587Q5 19.825 5 19V6H4V4h5V3h6v1h5v2h-1v13q0 .825-.587 1.413Q17.825 21 17 21ZM17 6H7v13h10ZM9 17h2V8H9Zm4 0h2V8h-2ZM7 6v13Z" />
            </svg>
          </button>
        </div>
      </div>
      <div class="columns__item">
        <div class="columns__name">123</div>
        <div class="tasks">
          <div class="tasks__item">
            
          </div>
        </div>
        <div class="columns__setting">
          <button class="add-item">Add Task</button>
          <button class="button delete-item">
            <svg class="delete-item" xmlns="http://www.w3.org/2000/svg" height="24" width="24">
              <path
                d="M7 21q-.825 0-1.412-.587Q5 19.825 5 19V6H4V4h5V3h6v1h5v2h-1v13q0 .825-.587 1.413Q17.825 21 17 21ZM17 6H7v13h10ZM9 17h2V8H9Zm4 0h2V8h-2ZM7 6v13Z" />
            </svg>
          </button>
        </div>
      </div>
      <div class="columns__item">
        <div class="columns__name">123</div>
        <div class="tasks">
          <div class="tasks__item">
            
          </div>
        </div>
        <div class="columns__setting">
          <button class="add-item">Add Task</button>
          <button class="button delete-item">
            <svg class="delete-item" xmlns="http://www.w3.org/2000/svg" height="24" width="24">
              <path
                d="M7 21q-.825 0-1.412-.587Q5 19.825 5 19V6H4V4h5V3h6v1h5v2h-1v13q0 .825-.587 1.413Q17.825 21 17 21ZM17 6H7v13h10ZM9 17h2V8H9Zm4 0h2V8h-2ZM7 6v13Z" />
            </svg>
          </button>
        </div>
      </div>
      <div class="columns__item">
        <div class="columns__name">123</div>
        <div class="tasks">
          <div class="tasks__item">
            
          </div>
        </div>
        <div class="columns__setting">
          <button class="add-item">Add Task</button>
          <button class="button delete-item">
            <svg class="delete-item" xmlns="http://www.w3.org/2000/svg" height="24" width="24">
              <path
                d="M7 21q-.825 0-1.412-.587Q5 19.825 5 19V6H4V4h5V3h6v1h5v2h-1v13q0 .825-.587 1.413Q17.825 21 17 21ZM17 6H7v13h10ZM9 17h2V8H9Zm4 0h2V8h-2ZM7 6v13Z" />
            </svg>
          </button>
        </div>
      </div>
      <div class="columns__item empty">
        <h6 class="empty__title">+Add new column</h6>
      </div>
    </div>
  </div>
</div>